body{
    margin: 10% 20%; 
}
h1{
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
  -webkit-background-clip: text;
 
  -webkit-text-fill-color: transparent;
 animation: text 10s linear ;
  
}


div{
    margin: 3rem; 
   border: black solid;
   padding: 20px;
   border-radius: 10px;
}
.el-input{
    text-align: center ;
    
}
ul{
   margin: 10px; 
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-decoration: underline;
 transition-delay: 1000ms;

}
button{
    border: none;
    
    background-image: linear-gradient(to left,   blue, green, yellow, red);
padding: 10px 10px;
border-radius: 8px;

}
button:hover{
    background-color: blue;
    
}
button:active{
    background-image: linear-gradient(to left,   blue, green, yellow, red);
    box-shadow: 0 5px gray;
    transform: translateY(2px);
}
h1:checked{
    
    transform: translateX(50%);
    top: 10%;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    background-color: black;
    align-items: center;
}
#brund{
    padding-left: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    color: white;
}
nav ul {
    display: flex;
    justify-content: center;
}
nav ul li {
    padding: .5rem;
    list-style: none;
  

}
nav ul li a {
    padding: 1rem;
font-size: 2rem;
    text-decoration: none;
    color: white;
}
#nuv li :hover{
    background-color: grey;
    border-radius: 20px;
}
.taglle{
    position: absolute;
    top: .74rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 23px;
   
}
.taglle .bar {
    height: 3px;
    width: 20px;
    background-color: white;
    border-radius: 9px;
}
@media(max-width : 600px){
    .taglle{
        display: flex;
    }
    nav {
        flex-direction: column;
        align-items: flex-start;
        width: 10%;
        
    }
    nav ul {
        flex-direction: column;
        width: 100%;
    }
    nav ul li {
        text-align: center;
    }
}
@media (max-width : 600px) {
    body {
        background-image: none;
        background-color: black;

    }


    
}
